{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": false,
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "singleQuote": true,
  "tabWidth": 2,
  "singleAttributePerLine": false,
  "trailingComma": "none",
  "useTabs": false,
  "vueIndentScriptAndStyle": false
}
